<div class="white-section">
    <div class="container">
        <div class="row jobs">
            <div class="col-md-8 col-md-offset-2">
                <h3>Benefits!</h3>

                <div class="row">
                    <div class="col-xs-6">
                        <h4>Vacations</h4>
                        <p>We encourage taking real off the grid vacations.</p>

                        <br />

                        <h4>VIP Shorty Awards Ticket</h4>
                        <p>Whether or not you’re working on our Shorty Awards product, you’ll score a VIP invite to the
                            annual Shorty Awards show. We promise it’ll be a blast!</p>

                        <br />

                        <h4>Personal development</h4>
                        <p>We encourage everyone to grow their skills and networks and will enable you to attend
                            relevant events, conferences and meetups. We believe in the need to get out of the office
                            and see the world, experience the market and learn from peers.</p>
                    </div>

                    <div class="col-xs-6">
                        <h4>Equipment</h4>
                        <p>We’ll provide you with a high-end MacBook Pro, second screen monitor and anything else you
                            might need to do your job (software, drawing tablets, adapters, etc.).</p>

                        <br />

                        <h4>Health benefits</h4>
                        <p>You’ll be able to join our health plan which has one of the largest networks of providers in
                            the tri state area. Sawhorse will cover half the cost. </p>

                        <br />

                        <h4>Snacks!</h4>
                        <p>We have an ongoing FreshDirect order that everyone can add to to make sure there are
                            delicious and healthy snacks in the office throughout the week.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
