<footer>
	<div class="container">
		<div class="pull-left  footer-info">
			&copy; Sawhorse Media 2014&nbsp;&nbsp;
			<a href="/FUN/"><i class="fa fa-anchor"></i></a>
			&nbsp;&nbsp;
			<small>
				<a href="http://wearemadeinny.com/" target="_blank">Made in NY</a>
				&nbsp;&nbsp;
				#BuiltOnBroadway
			</small>
		</div>

		<div class="pull-right  footer-social">
			<a href="https://www.facebook.com/sawhorsemedia">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="http://twitter.com/sawhorse">
				<i class="fa fa-twitter"></i>
			</a>
			<!-- 
			<a class="hiring-marker" href="/hiring/">
				&nbsp;
			</a>
			-->
		</div>
	</div>
</footer>