<header class="container">
	<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<h2>Sawhorse Media is a New York based technology company that builds products for the social web.</h2>
		
		<div class="clearfix"></div>
		
		<div class="logo-box-container">
			<img src="/assets/images/slant.png" class="slant" />

			<div class="row logo-box">
				<div class="col-sm-5">
					<img src="/assets/images/muckrack-logotype.svg" class="logo-mr" />
				</div>
				<div class="col-sm-5 col-sm-offset-2 last">
					<img src="/assets/images/shorty-logotype.svg" class="logo-shorty" />
				</div>
			</div>
		</div>
	</div>
</header>

<div id="home-carousel" class="carousel fade header-bg" data-ride="carousel">
	<div class="carousel-inner">
		<div id="item-0" style="background-image:url(/assets/carousel/muckrack-card.jpg);" class="item active"></div>
		<div id="item-1" style="background-image:url(/assets/carousel/crowd.jpg);" class="item"></div>
	</div>
</div>