<header class="container">
	<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<h3>Relax, we’re here to make the social web more fun and useful</h3>
		<h2>Sawhorse Media is the technology company behind Muck Rack and the Shorty Awards.</h2>
	</div>
</header>

<div id="home-carousel" class="carousel fade header-bg" data-ride="carousel">
	<div class="carousel-inner">
		<div id="item-0" style="background-image:url(/assets/carousel/muckrack-card.jpg);" class="item active"></div>
		<div id="item-1" style="background-image:url(/assets/carousel/crowd.jpg);" class="item"></div>
	</div>
</div>