<header>
	<h1>We are Sawhorse</h1>
	<div class="sm-header-about">
		<h2>Uncovering the best of the social web.</h2>
	</div>
</header>

<div class="header-bg">
	<div id="bg-carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active"><div class="carousel-image crowd">&nbsp;</div></div>
			<div class="item"><div class="carousel-image muckedup">&nbsp;</div></div>
			<div class="item"><div class="carousel-image adweek">&nbsp;</div></div>
			<div class="item"><div class="carousel-image muckrack-card">&nbsp;</div></div>
			<div class="item"><div class="carousel-image met">&nbsp;</div></div>
			<div class="item"><div class="carousel-image vaynermedia">&nbsp;</div></div>
		</div>
	</div>
</div>