<nav class="nav" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="/">Sawhorse Media</a>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li {% if page.url == "/team/index.html" %}class="active"{% endif %}><a href="/team">Team</a></li>
				<li {% if page.url == "/contact/index.html" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
				<li><a href="http://blog.sawhorsemedia.com" target="_blank">Blog</a></li>
			</ul>
		</div>
	</div>
</nav>