<nav class="nav" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">Sawhorse Media</a>

        <ul class="nav navbar-nav navbar-right">
            <li {% if page.url == "/jobs/index.html" %}class="active"{% endif %}><a href="/jobs">Careers</a></li>
            <li {% if page.url == "/team/index.html" %}class="active"{% endif %}><a href="/team">Our Team</a></li>
            <li {% if page.url == "/contact/index.html" %}class="active"{% endif %}><a href="/contact">Contact Us</a></li>
            <li><a href="http://blog.sawhorsemedia.com" target="_blank">Blog</a></li>
        </ul>
    </div>
</nav>