
// Sawhorse Variables
// -----------------------
$sm-gutter: 25px
$sm-violet: #31313D
$sm-orange: #F48120
$shorty-teal: #2BAFA5
$mr-blue: #048AC2

// Bootstrap Overrides
// -----------------------
$font-family-sans-serif:  "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !default
$font-family-serif:       "ff-tisa-web-pro", Georgia, "Times New Roman", Times, serif !default


// Imports
// -----------------------
@import "compass"
@import "bootstrap/bootstrap"



// -------------------------------------------
// Styles
// -------------------------------------------

body
	background-color: lighten($gray-lighter, 4%)
	color: $gray


h1, h2, h3
	-webkit-font-smoothing: antialiased

h1, h2, h3, h4
	text-rendering: optimizeLegibility

// Navigation
// -----------------------
nav
	background-color: #fff
	border: 0px
	height: 96px
	border-radius: 0px
	.navbar-brand
		padding-bottom: 30px
		padding-top: 30px
		margin-top: 16px
		width: 240px
		background: url(/assets/images/we-are-sawhorse.jpg)
		background-image: url(/assets/images/sawhorse.svg), none
		background-repeat: no-repeat
		background-position: center center
		background-size: 100%
		+text-hide
	.nav > li > a
		color: $gray
		padding: 3px 0px 
		margin-left: 20px
		margin-top: 33px
		text-transform: uppercase
		font-size: 1em
	.nav > li > a:hover
		background-color: transparent
	.nav > li.active > a
		border-bottom: 2px solid $gray-lighter


// Carousel
// -----------------------
#home-carousel
	background-color: #000
	overflow: hidden
	height: 500px
	.item
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		min-height: 500px
.carousel.fade
	opacity: 1
	.item
		+transition(opacity, .7s)
		position: absolute
		left: 0 !important
		top: 0
		opacity: 0
		width: 100%
		display: block !important
		z-index: 1
		&:first-child
			top: auto
			position: relative
		&.active
			+transition(opacity, .7s)
			opacity: 1
			z-index: 2


// Hero
// -----------------------
header
	height: 500px
	text-align: center
	padding-top: 150px
	position: relative
	z-index: 1000
	color: white
	h2
		text-align: center
		padding: 40px 10px
		font-size: 30px
		font-family: $font-family-serif
		font-style: italic
		font-weight: 700
		font-size: 36px

.header-bg
	height: 540px
	overflow: hidden
	position: absolute
	width: 100%
	top: 96px
	z-index: 700
	.carousel-inner
		height: 540px
	img
		min-height: 540px
		min-width: 100%



.muckrack,
.shortyawards
	border-bottom: 3px solid $gray-lighter
	padding-top: 20px
	height: 400px
	h2
		text-transform: uppercase
		margin-bottom: 0px
		padding-bottom: 5px
		font-weight: 700
		margin-top: 30px
		border-bottom: 2px solid $sm-orange
	h3
		font-family: $font-family-serif
		font-size: 18px
		margin-top: 6px
		color: $gray-light
		font-style: italic
		letter-spacing: -0.02em




// Sub Sections
// -----------------------
section.businesses
	padding: 60px 0px
	img 
		width: 100%
		margin: 0px auto
		text-align: center
	h2
		font-size: 1.7em
		text-transform: uppercase
		text-align: center

		margin-bottom: 50px
		color: lighten($sm-violet, 70%)


	h3
		font-weight: 300
		font-style: italic
		font-family: $font-family-serif
		font-size: 1.25em
		text-align: center
		color: $gray-lighter
		margin-top: 15px
		margin-bottom: 6px
	p
		margin-top: 10px
		color: lighten($sm-violet, 50%)
		font-size: 1.15em
		line-height: 1.2em
		text-align: center
		padding: 10px $sm-gutter

	a 
		text-transform: uppercase
		text-align: center
		font-weight: 600
		font-size: 1em
		margin-top: 0px
		color: lighten($mr-blue, 5%)
		display: block




section.contact
	padding-top: 60px
	h2
		font-weight: 700
		font-size: 1.75em
		text-align: right
		text-transform: uppercase
		margin-bottom: 0px
		padding-bottom: 5px

.sm-contact-sidebar
	ul 
		padding: 0
		text-align: right
		margin-top: 10px
		width: 80%
		float: right
	li 
		list-style-type: none
		border-bottom: 1px solid lighten($gray-light, 30%)
		padding: 8px 0px
		a
			color: mix($gray-lighter, $sm-violet, 30%)

	i 
		width: 18px
		text-align: center
		margin-left: 5px
		color: lighten($sm-violet, 40%)


// Footer
// -----------------------
footer 
	margin-top: $sm-gutter * 3
	margin-bottom: $sm-gutter / 2
	color: $gray-light
	a
		font-weight: 600
		&:hover 
			color: $sm-violet
	small a
		text-transform: uppercase
		font-weight: 300



// Responsive styles
// -----------------------
@media (max-width: 400px)




// Wufoo form styles
// -----------------------
.wufoo
	margin-top: 15px
	font-family: $font-family-serif

	input, textarea
		+border-radius(4px)
		@extend .form-control

	input.text
		padding: 5px
	input.submit
		width: 100%
		text-transform: uppercase
		//color: lighten($sm-violet, 50%)
		font-family: $font-family-serif
		background-color: lighten($gray-light, 30%)
		border: 0px
		&:hover 
			background-color: lighten($gray-light, 25%)
			color: lighten($sm-violet, 5%)
	span.req
		color: $sm-orange
		margin-left: 4px !important
		font-size: 18px
		font-weight: 100
		-webkit-font-smoothing: antialiased

	textarea.textarea
		padding: 9px
	label
		color: lighten($sm-violet, 30%)
		font-weight: 500
		font-size: 1em
		text-transform: uppercase
		@media (max-width: $screen-md-max)
			font-size: 0.9em
		@media (max-width: $screen-sm-max)
			font-size: 1em
	li 
		padding: 0px 0px 20px 0px

	#foli9 span
		width: 49%
		margin: 0
		&:first-of-type
			margin-right: 2%
	#foli9 input
		width: 100%
	#foli7 input
		width: 100%
	#Field5
		width: 100%
	#foli8
		padding-bottom: 0px
		span 
			width: 15%
			margin: 0px
		span input 
			width: 100%
		span.symbol
			width: 5%
			text-align: center

	@media (min-width: $screen-md-min)
		.no-rp 
			padding-right: 0px
		.foli12
			width: 26.5%
			padding-right: 5px
		.foli5
			padding-left: 0px
			padding-right: 0px
			width: 23.5%
		input#Field12
			width: 99%
